*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

html, body {
    min-height: 100vh;
}

body {
    margin: 0 auto;
    background: #FAFFFD;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.png);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ///////////// */
/*    HEADING    */
/* ///////////// */


header {
    display: flex;
    background-color: #fff;
    color: #777;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #4aaaa5;

}

#myName {
    color: #fff;
    background-color: #4aaaa5;
    margin: 0 16%;
    padding: 25px;
}

.Pages {
    margin: 0 10%;    
}

.Pages li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid;
    float: left;
}

.Pages a {
    display: block;
    padding: 15px;
    margin: 0 20px;
    color: #777;
    text-decoration: none;
    text-transform: capitalize;
}

#About {
    order: 1;
}

#Portfolio {
    order: 2;
}

#Contact {
    order: 3;
}



/* ///////////// */
/*     MAIN      */
/* ///////////// */

#Main {
    flex: 1 0 auto;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: #EAF2EF;
    font-size: 1.15em;
    line-height: 1.563em;
}

#mainTitle {
    color: #4aaaa5;
    margin: 20px 0 10px;
}

.line {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}   

input[type=submit]:hover {
    background-color: #46a09b;
}



/* ///////////// */
/*     FOOTER    */
/* ///////////// */


footer {
    display: flex;
    background-color: #342E37;
    color: #FAFFFD;
    align-items: center;
    padding: 1%;
    justify-content: center;
    flex-shrink: 0;
    border-top: 10px solid #4aaaa5;
}



/* ///////////// */
/*     OTHER     */
/* ///////////// */

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  ::-webkit-scrollbar { 
    display: none; 
}